:root {
  --cube-size: 150px;
  --cube-size-face-z: -75px;
}

@page {
  size: auto;
  margin: 25mm 25mm 25mm 25mm;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  color: black;
  margin: 0;
}

p {
  line-height: 1.3em;
}

.quote,
.example-output,
pre {
  border-radius: 4px;
  padding: 1em;
  break-inside: avoid;
}

.quote {
  background-color: rgba(0, 0, 0, .05);
}

.code,
pre {
  padding: 1em;
  border-radius: 4px;
  overflow-x: auto;
  overflow-y: hidden;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, .05);
}

span.code {
  border: none;
  padding: 0 0.25em;
  box-sizing: content-box;
  background-color: rgba(0, 0, 0, .1);
}

.example-output {
  border-radius: 4px;
  padding: 10px;
  border: 1px dashed #222222;
}

main {
  margin: 0 auto;
  max-width: 40rem;
  padding: 1em;
}

button {
  padding: 15px 10px;
  font-size: inherit;
}

a, button {
  min-height: 48px;
  min-width: 48px;
  cursor: pointer;
}

.esm-warning {
  margin: 0 auto;
  max-width: 40rem;
}

.example-output .ball-container {
  position: relative;
}

.example-output .ball-container .ball {
  position: absolute;
  right: 1em;
  bottom: 0;
  display: block;
  width: 2em;
  height: 2em;
  background: radial-gradient(circle at .2em .2em, #04a5d7, #000);
  border-radius: 100%;
  background-color: green;
  animation: bounce 0.75s cubic-bezier(1, .0025, 1, 1);
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  from { transform: translate3d(0, 5%, 0);     }
  to   { transform: translate3d(0, -70%, 0); }
}
